.App {
  text-align: center;
  margin-top: 0px;
  padding: 0;
  height: 1000vh;
}
.searchbar {
  width: 50%;
  border: 1px solid rgb(163, 161, 161);
  border-radius: 15px;
  box-shadow: 50px;
}
.carouselitem {
  margin-left: 1%, 10%;
  height: 400px;
}
.offer {
  color: rgb(110, 107, 107);
}
.textin {
  color: red;
}
.cartstyle {
  margin: 7% 2% auto 2%;
  display: flex;
  justify-content: space-between;
}

img {
  height: 230px;
}

text {
  align-items: center;
}
.items {
  margin: 7% 2% auto 2%;
  display: flex !important ;
  justify-content: space-between;
}
 h1{
background-color: black;
color: red;
}
.incart{
  border: 1px solid grey; 
 width: 20%;
  margin-top: 5%;
  margin-left: 3%;
  background-color: grey;
  
}
.incart img{
 height: 100px;
 margin-top: 10px;
}
.cartbody{
  display: flex;

}

